.floating-contact {
  position       : fixed;
  bottom         : 10px;
  width          : 100%;
  left           : 0;
  display        : flex;
  justify-content: space-between;
  z-index        : 9999;
}

/* CALL */
.floating-call {
  display        : flex;
  align-items    : center;
  background     : #e72e77;
  color          : white;
  padding        : 12px;
  border-radius  : 100px;
  text-decoration: none;
  font-weight    : 500;
  box-shadow     : 0 6px 18px rgba(0, 0, 0, 0.2);
  margin         : 0px 10px;
  border         : 2px solid white;
  box-shadow     : 3px 3px 7px rgb(0, 0, 0);
}

.whatsapp-icon {
  height       : 52px;
  width        : 52px;
  object-fit   : contain;
  border-radius: 100px;
}

/* WHATSAPP */
.floating-whatsapp {
  display        : flex;
  align-items    : center;
  background     : transparent;
  color          : white;
  border-radius  : 100px;
  text-decoration: none;
  box-shadow     : 0 6px 18px rgba(0, 0, 0, 0.2);
  margin         : 0px 10px;
  border         : 2px solid white;
  box-shadow     : 3px 3px 7px rgb(0, 0, 0);
}


















/* ===== BOTTOM NAV ===== */
.bottom-nav {
  position          : fixed;
  bottom            : 0;
  left              : 0;
  width             : 100%;
  display           : flex;
  justify-content   : space-around;
  align-items       : center;
  padding           : 10px 0;
  /* padding-bottom : 30px; */
  z-index           : 9999;
  border-radius     : 30px 30px 0px 0px;
  background        : #ffffff;
}

/* ===== ITEMS ===== */
.bottom-item {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  text-decoration: none;
  font-size      : 12px;
  color          : #e72e77;
  transition     : 0.3s;
  font-weight    : 700;
}

/* ICONS */
.bottom-item svg {
  margin-bottom: 3px;
}

/* WHATSAPP IMAGE FIX */
.bottom-item img {
  height       : 30px;
  width        : 30px;
  object-fit   : contain;
  margin-bottom: 3px;
  border-radius: 60px;
}



/* circle icon */
/* .bottom-item.center svg {
  background: #e91e63;
  color     : #fff;

  padding      : 10px;
  border-radius: 50%;

  box-shadow: 0 6px 15px rgba(233, 30, 99, 0.4);
} */


/* label spacing */
.bottom-item.center span {
  margin-top: 2px;
}

/* ===== REMOVE OLD FLOATING BUTTONS ===== */
.floating-contact,
.floating-call,
.floating-whatsapp {
  display: none !important;
}

.bottom-nav {
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
}

.bottom-item i {
  font-size    : 22px;
  margin-bottom: 3px;
}



/* 🔥 POPUP OVERLAY */
.popup-overlay {
  position       : fixed;
  top            : 0;
  left           : 0;
  right          : 0;
  bottom         : 0;
  background     : rgba(0, 0, 0, 0.6);
  display        : flex;
  justify-content: center;
  align-items    : center;
  z-index        : 9999;
}

/* 🔥 POPUP BOX */
.popup-content {
  background   : #fff;
  width        : 95%;
  max-width    : 500px;
  max-height   : 90vh;
  overflow-y   : auto;
  border-radius: 12px;
  padding      : 0px;
  position     : relative;
}

/* ❌ CLOSE BUTTON */
.close-btn {
  position     : absolute;
  top          : 8px;
  right        : 10px;
  background   : #ffffff;
  color        : #000000;
  border       : none;
  border-radius: 50%;
  width        : 38px;
  height       : 38px;
  cursor       : pointer;
  box-shadow   : 1px 1px 4px black;
}

@media (max-width: 500px) {

  .bottom-nav {
    padding       : 15px 0;
    padding-bottom: 20px;
  }

}