.heroSection {
    position       : relative;
    min-height     : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-align     : center;
    overflow       : visible;
    /* CHANGE THIS */
    padding-top    : 70px;
    color          : white;
}

.heroBg {
    position: absolute;
    inset   : 0;
    z-index : 0;
}

.heroBg img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.heroOverlay {
    position               : absolute;
    inset                  : 0;
    backdrop-filter        : blur(1px);
    -webkit-backdrop-filter: blur(1px);
    background             : linear-gradient(to bottom,
            rgba(0, 0, 0, 0.237),
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.75));
}

.heroContent {
    position : relative;
    z-index  : 5;
    max-width: fit-content;
    padding  : 0 20px;
}

.heroTag {
    display           : inline-flex;
    align-items       : center;
    gap               : 6px;
    background        : rgba(255, 255, 255, 0.15);
    padding           : 8px 16px;
    border-radius     : 50px;
    /* margin-bottom  : 20px; */
    font-size         : 14px;
    backdrop-filter   : blur(6px);
}

.heroTitle {
    font-size    : 60px;
    font-weight  : 700;
    line-height  : 1.2;
    margin-bottom: 20px;

    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.heroTitle span {
    color: #38bdf8;
}

.heroDesc {
    font-size    : 18px;
    color        : #ffffff;
    max-width    : 700px;
    margin       : auto;
    margin-bottom: 30px;
    line-height  : 1.6;
}

.heroFeatures {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 10px;
    margin-bottom  : 30px;
}

.heroFeature {
    background     : rgba(255, 255, 255, 0.15);
    padding        : 8px 16px;
    border-radius  : 50px;
    font-size      : 14px;
    border         : 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.heroButtons {
    display        : flex;
    gap            : 15px;
    justify-content: center;
    flex-wrap      : wrap;
    margin-bottom  : 50px;
}

.heroBtnPrimary {
    /* border         : 2px solid white; */
    background     : #078a00;
    color          : white;
    padding        : 10px 30px;
    border-radius  : 100px;
    font-weight    : 600;
    text-decoration: none;
    transition     : 0.3s;
    box-shadow     : 3px 3px 7px rgb(0, 0, 0);
}

.heroBtnPrimary:hover {
    background: #ffffff;
    color     : #078a00;
    border    : 2px solid #078a00;
}

.heroBtnOutline {
    /* border         : 2px solid white; */
    padding        : 10px 30px;
    border-radius  : 100px;
    font-weight    : 600;
    text-decoration: none;
    color          : #ffffff;
    background     : #0284c7;
    backdrop-filter: blur(6px);
    transition     : 0.3s;
    box-shadow     : 3px 3px 7px rgb(0, 0, 0);
}

.heroBtnOutline:hover {
    background: white;
    color     : #0284c7;
    border    : 2px solid #0284c7;
}

.heroStats {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    gap                  : 30px;
    border-top           : 1px solid rgba(255, 255, 255, 0.3);
    padding-top          : 30px;
    margin-top           : 30px;
}

.statNumber {
    font-size  : 36px;
    font-weight: 700;
    color      : #38bdf8;
}

.statLabels {
    font-size: 14px;
    color    : #ffffff;
}

.heroTree {
    position : absolute;
    top      : 160px;
    left     : 40px;
    color    : rgba(255, 255, 255, 0.2);
    width    : 70px;
    height   : 70px;
    animation: pulse 3s infinite;
}

.heroWaves {
    position : absolute;
    bottom   : 160px;
    right    : 40px;
    color    : rgba(255, 255, 255, 0.2);
    width    : 80px;
    height   : 80px;
    animation: pulse 3s infinite;
}

.heroScroll {
    position : absolute;
    bottom   : 30px;
    left     : 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    color    : white;
    opacity  : 0.7;
}

@keyframes pulse {
    0% {
        opacity: 0.3
    }

    50% {
        opacity: 0.7
    }

    100% {
        opacity: 0.3
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(-50%, 0)
    }

    50% {
        transform: translate(-50%, 10px)
    }
}

@media(max-width:900px) {

    .heroTitle {
        font-size: 42px;
    }

    .heroStats {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:500px) {

    .heroTitle {
        font-size: 44px;
    }

}

.heroBg {
    position: absolute;
    inset   : 0;
    z-index : 0;
}

.heroVideo {
    width        : 100%;
    height       : 100%;
    object-fit   : cover;
    position     : absolute;
    inset        : 0;
    z-index      : 1;
    border-radius: 80px;
}

.heroOverlay {
    position: absolute;
    inset   : 0;
    z-index : 2;

    backdrop-filter        : blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.75));
    border-radius: 80px;
}

.soundBtn {
    position     : absolute;
    top          : 20px;
    right        : 20px;
    z-index      : 10;
    background   : rgba(255, 255, 255, 0);
    color        : white;
    border       : none;
    padding      : 10px 14px;
    border-radius: 50%;
    cursor       : pointer;
    font-size    : 18px;
}







.heroBtnPrimary,
.heroBtnOutline,
.dropdownItem {
    text-transform: uppercase;
}




.dropdown {
    position: relative;
}

.dropdownMenu {
    position     : absolute;
    top          : 110%;
    left         : 0;
    background   : white;
    border-radius: 25px;
    padding      : 10px 0;
    min-width    : 220px;
    z-index      : 9999;
    opacity      : 0;
    visibility   : hidden;
    transform    : translateY(10px);
    transition   : all 0.3s ease;
    text-align   : left;
    box-shadow   : 3px 3px 7px rgb(0, 0, 0);
}

.dropdown:hover .dropdownMenu {
    opacity   : 1;
    visibility: visible;
    transform : translateY(0);
}

.dropdownItem {
    display        : block;
    padding        : 10px 18px;
    text-decoration: none;
    color          : #333;
    font-size      : 14px;
}

.dropdownItem:hover {
    background     : #9efd8d;
    border-radius  : 80px;
    font-weight    : 600;
    text-decoration: none;
    color          : #ffffff;
    background     : #078a00;
    backdrop-filter: blur(6px);
    transition     : 0.3s;
}

.typeWriter {
    font-size  : 28px;
    margin-top : 10px;
    color      : #fff;
    font-weight: 500;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





.heroButtons .dropdown:nth-child(odd)>button,
.heroButtons .dropdown:nth-child(odd)>a {
    background: linear-gradient(135deg, #ec4899, #f472b6);

}

.heroButtons .dropdown:nth-child(even)>button,
.heroButtons .dropdown:nth-child(even)>a {
    background: linear-gradient(135deg, #0284c7, #38bdf8);
}

.heroButtons .dropdown a {
    background-color: white;
}

.heroButtons .dropdown:nth-child(odd) button:hover,
.heroButtons .dropdown:nth-child(odd) a:hover {
    background: white;
    color     : #ec4899;
}

.heroButtons .dropdown:nth-child(even) button:hover,
.heroButtons .dropdown:nth-child(even) a:hover {
    background: white;
    color     : #0284c7;
}

.dropdownMenu {
    background: white;
}

.dropdownItem {
    background   : white;
    color        : #000000;
    border-radius: 80px;
}

.dropdownMenu {
    min-width: 200px;
    max-width: 90vw;
}

.heroStats {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap                  : 20px;
    text-shadow          : 4px 4px 5px rgb(0, 0, 0);
}


.desktopTitle {
    display: block;
}

.mobileTitle {
    display: none;
}

.andSymbol {
    display: inline-block;
}

@media (max-width:480px) {

    .desktopTitle {
        display: none;
    }

    .mobileTitle {
        display: block;
    }

    .mobileTitle span {
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }
}

@media (max-width: 1024px) {

    .heroButtons {
        gap: 10px;
    }

    .heroBtnPrimary,
    .heroBtnOutline {
        padding  : 9px 20px;
        font-size: 13px;
    }

}

@media (max-width: 768px) {

    .heroVideo {
        border-radius: 35px;
    }

    .heroOverlay {
        border-radius: 35px;
    }

    .heroSection {
        padding-top   : 50px;
        padding-bottom: 0px;
    }


    .heroStats {
        grid-template-columns: repeat(2, 1fr);
        gap                  : 18px;
    }

    .statNumber {
        font-size: 28px;
    }

}

@media (max-width: 480px) {

    .heroSection {
        min-height: auto;
    }


    .heroContent {
        position : relative;
        z-index  : 5;
        max-width: fit-content;
        padding  : 10px 20px;
    }

    .heroTag {
        display: none;
    }

    .heroSection {
        padding-top   : 120px;
        padding-bottom: 75px;
    }

    .heroButtons {
        flex-direction: column;
        align-items   : center;
    }

    .heroBtnPrimary,
    .heroBtnOutline {
        width         : 100%;
        /* max-width  : 280px; */
        font-size     : larger;
        white-space   : nowrap;
    }

    .dropdownMenu {
        transform: translateX(-50%);

    }

    .heroStats {
        display              : flex;
        grid-template-columns: repeat(4, 1fr);
        gap                  : 10px;
        border-top           : 1px solid rgba(255, 255, 255, 0.3);
        padding-top          : 10px;
        margin-top           : 10px;
    }

}

.heroButtons .dropdown {
    display        : flex;
    justify-content: center;
}



@media (max-width:480px) {

    .heroButtons .dropdown {
        display        : flex;
        justify-content: center;
    }

}

.typeWriter {
    font-size  : 28px;
    margin-top : 10px;
    color      : #fff;
    font-weight: 500;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);

    max-width    : 100%;
    word-break   : break-word;
    overflow-wrap: break-word;
}

@media (max-width:480px) {

    .typeWriter {
        font-size  : 23px;
        line-height: 1.4;
        padding    : 0 10px;
    }

}