/* HEADER */
.navbar-header {
  position: fixed;
  top     : 0;
  width   : 100%;
  z-index : 1000;
}

.nav-logo {
  padding: 0px;
  margin : 0px;
}

.nav-logo img {
  height    : 70px;
  width     : auto;
  object-fit: contain;
  filter    : drop-shadow(3px 3px 1px #00000087);
}

.nav-logo img:hover {
  transform: scale(1.1);
}


/* CONTAINER */
.navbar-container {
  max-width: 1200px;
  margin   : auto;
  padding  : 0 20px;
}

/* TOP BAR */
.navbar-top {
  color      : #ffffff;
  font-size  : 14px;
  font-weight: 600;
}


.navbar-top-inner {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 8px 0;
}

.navbar-contact {
  display: flex;
  gap    : 20px;
}

.navbar-contact a {
  display        : flex;
  align-items    : center;
  gap            : 6px;
  color          : #2f2f2f;
  text-decoration: none;
  font-weight    : 600;
}

.navbar-contact a:hover {
  color    : #000000;
  transform: scale(1.1);
}

/* MAIN NAVBAR */
.navbar-main {
  background: linear-gradient(to bottom, #00fc6d, #b7ffa4, #ffffff, #ffffffe8, #ffffffaf, #ffffff00);
}

.navbar-inner {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  height         : 80px;
}

/* NAV LINKS */
.navbar-links {
  display    : flex;
  gap        : 30px;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color          : #008f34;
  font-weight    : 700;
  white-space    : nowrap;

}

.navbar-links a:hover {
  color    : #01712a;
  transform: scale(1.1);
}

/* BUTTONS */
.navbar-buttons {
  display: flex;
  gap    : 12px;
}

.btn-outlines {
  padding        : 10px 17px;
  border-radius  : 80px;
  text-decoration: none;
  backdrop-filter: blur(6px);
  transition     : 0.3s;
  width          : 100%;
  background     : #ff0000;
  color          : #ffffff !important;
  box-shadow     : 5px 5px 3px rgba(0, 0, 0, 0.345);
  font-weight    : 800 !important;
}

.btn-outlines:hover {
  font-weight: 800 !important;
  background : #ffffff;
  color      : #ff0000 !important;
  box-shadow : inset 3px 3px 1px #ff0000, 3px 3px 1px #000000;
}


/* MOBILE BUTTON */
.mobile-menu-btn {
  display   : none;
  background: none;
  border    : none;
  cursor    : pointer;
}

/* MOBILE MENU */
.mobile-menu {
  background: white;
  padding   : 20px;
  border-top: 1px solid #e5e7eb;

  position: absolute;
  width   : 100%;
  left    : 0;
  top     : 100%;

  opacity       : 0;
  transform     : translateY(-20px);
  pointer-events: none;

  transition: all 0.35s ease;
}

.mobile-menu.active {
  opacity       : 1;
  transform     : translateY(0);
  pointer-events: auto;
}

.mobile-menu a {
  display        : block;
  padding        : 14px 12px;
  text-decoration: none;
  color          : #111827;
  font-weight    : 500;
  white-space    : nowrap;
  opacity        : 0;
  transform      : translateX(-20px);
  transition     : all 0.4s ease;
}

.mobile-menu.active a {
  opacity  : 1;
  transform: translateX(0);
}

/* ============================= */
/* LAPTOP (1200px → 992px) */
/* ============================= */

@media (max-width: 1200px) {

  .navbar-container {
    padding: 0 15px;
  }

  .navbar-links {
    gap: 20px;
  }

}

/* ============================= */
/* TABLET (992px → 768px) */
/* ============================= */

@media (max-width: 992px) {

  .navbar-links,
  .navbar-buttons {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .navbar-inner {
    height: 70px;
  }

}

/* MOBILE (768px and below) */

@media (max-width: 768px) {

  /* TOP BAR MOBILE */
  .navbar-top-inner {
    display    : flex;
    align-items: space-between;
    height     : 35px;
  }

  .navbar-contact {
    display    : flex;
    gap        : 25px;
    margin-left: 20px;
  }

  /* hide text show only icons */
  .navbar-contact span {
    display: none;
  }

  .navbar-open {
    text-align : center;
    font-weight: 500;
  }

  /* MAIN NAVBAR */
  .navbar-inner {
    height: 70px;
  }

  /* navbar height */
  .navbar-inner {
    height: 70px;
  }

  .mobile-menu-btn {
    display: block;
  }

}













/* MOBILE MENU */

.mobile-menu {
  position        : absolute;
  top             : 100%;
  left            : 0;
  width           : 100%;
  background      : white;
  border-top      : 1px solid #e5e7eb;
  overflow        : hidden;
  transform       : translateY(-20px) scaleY(0.95);
  transform-origin: top;
  opacity         : 0;
  max-height      : 0;
  backdrop-filter : blur(8px);
  box-shadow      : 5px 5px 3px rgba(0, 0, 0, 0.345);
  transition      :
    transform 0.45s cubic-bezier(.22, .68, 0, 1.71),
    opacity 0.35s ease,
    max-height 0.5s ease;
}

.mobile-menu.active {
  transform : translateY(0) scaleY(1);
  opacity   : 1;
  max-height: 500px;
}

/* MENU LINKS */

.mobile-menu a {
  display        : block;
  padding        : 16px 20px;
  font-weight    : 500;
  color          : #111827;
  text-decoration: none;
  opacity        : 0;
  transform      : translateY(-10px);
  transition     :
    transform 0.4s ease,
    opacity 0.35s ease,
    background 0.3s ease;
}

/* hover */

.mobile-menu a:hover {
  background: #f0fdf4;
  color     : #16a34a;
}

/* stagger animation */

.mobile-menu.active a:nth-child(1) {
  opacity         : 1;
  transform       : translateY(0);
  transition-delay: 0.18s;
}

.mobile-menu.active a:nth-child(2) {
  opacity         : 1;
  transform       : translateY(0);
  transition-delay: 0.26s;
}

.mobile-menu.active a:nth-child(3) {
  opacity         : 1;
  transform       : translateY(0);
  transition-delay: 0.34s;
}

.mobile-menu.active a:nth-child(4) {
  opacity         : 1;
  transform       : translateY(0);
  transition-delay: 0.42s;
}

.mobile-menu.active a:nth-child(5) {
  opacity         : 1;
  transform       : translateY(0);
  transition-delay: 0.60s;
}

.mobile-menu.active a:nth-child(6) {
  opacity         : 1;
  transform       : translateY(0);
  border          : 2px solid white;
  border-radius   : 8px;
  text-decoration : none;
  color           : #ffffff !important;
  background      : #fc3939;
  width           : 100%;
  transition-delay: 0.98s;
}










.navbar-main {
  background: #ffffff;
  transition: all 0.7 ease-in;
}

/* Scroll hone ke baad */
.navbar-blur {
  background: linear-gradient(to bottom, #ffffff, #ffffff, #ffffffe5, #ffffff00);
}

.nav-login {
  display      : flex;
  align-items  : center;
  gap          : 6px;
  padding      : 8px 14px;
  border-radius: 6px;
  color        : #333;
  font-weight  : 500;
}

.nav-login:hover {
  background: #f2f2f2;
}

.nav-signup {
  padding      : 8px 16px;
  background   : #0284c7;
  color        : white;
  border-radius: 6px;
  font-weight  : 600;
}

.nav-signup:hover {
  background: #0369a1;
}

.nav-account {
  display      : flex;
  align-items  : center;
  gap          : 6px;
  padding      : 8px 14px;
  background   : #1b8511;
  border-radius: 8px;
  color        : #ffffff !important;
  font-weight  : 500;
}

.nav-logout {
  padding      : 8px 14px;
  border-radius: 8px;
  border       : 1px solid #ef4444;
  background   : transparent;
  color        : #ef4444;
  cursor       : pointer;
}

.nav-logout:hover {
  background: #ef4444;
  color     : white;
}