/* section background */
.googleReviewsSection {
    padding      : 40px 20px;
    /* background: linear-gradient(180deg, #f8fafc, #eef2f7); */
}

/* container */
.googleReviewsContainer {
    max-width    : 1200px;
    margin       : auto;
    padding      : 40px;
    background   : #fff;
    border-radius: 20px;
    box-shadow   : 0 15px 40px rgba(0, 0, 0, 0.12);
    transition   : all .4s ease;
}

/* hover animation */
.googleReviewsContainer:hover {
    transform : translateY(-6px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.18);
}

/* responsive */
@media (max-width:768px) {

    .googleReviewsSection {
        padding: 0px 1px;
    }

    .googleReviewsContainer {
        padding      : 2px 5px;
        border-radius: 16px;
    }

}


/* hide elfsight branding */
.elfsight-app-01e88011-40a6-4790-a26b-541d85ac57bb a[href*="elfsight"] {
    display: none !important;
}

[class*="elfsight"] a[href*="elfsight"] {
    display: none !important;
}

/* hide Free Google Reviews Widget text */
.eapps-widget-toolbar {
    display: none !important;
}