.ticketsSection {
    padding : 80px 20px;
    position: relative;
    z-index : 1;
    overflow: hidden;
}

.ticketsSection::before {
    content   : "";
    position  : absolute;
    inset     : 0;
    background: url("/public/images/waterpark-main.jpg");
    z-index   : -2;
}

.ticketsSection::after {
    content   : "";
    position  : absolute;
    inset     : 0;
    background: rgba(0, 0, 0, 0.5);
    /* dark overlay */
    z-index   : -1;
}

.ticketsContainer {
    margin: auto;
}

.ticketsHeader {
    text-align   : center;
    margin-bottom: 50px;
}

.subtitle {
    color         : #ffffff;
    font-size     : 14px;
    font-weight   : 600;
    letter-spacing: 1px;
}

.ticketsHeader h2 {
    font-size  : 36px;
    font-weight: 700;
    margin     : 10px 0;
    color      : #ffffff;
}

.ticketsHeader span {
    color: #00a8ff;
}

.ticketsHeader p {
    color    : #00a8ff;
    max-width: 600px;
    margin   : auto;
}

.ticketsGrid {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap                  : 10px;
    margin-bottom        : 20px;
}

.ticketCard {
    background   : white;
    border-radius: 16px;
    padding      : 10px;
    border       : 1px solid #eee;
    position     : relative;
    transition   : .3s;
}

.ticketCard:hover {
    transform : translateY(-5px);
    box-shadow: 10px 10px 2px #000000;
}

.popular {
    border: 2px solid #00a8ff;
}

.badge {
    position     : absolute;
    top          : -12px;
    left         : 50%;
    transform    : translateX(-50%);
    background   : linear-gradient(180deg, #a7e2ff, #0082c3, #a7e2ff);
    color        : white;
    font-size    : 12px;
    padding      : 4px 10px;
    border-radius: 20px;
    white-space  : nowrap;
}

.ticketTop {
    text-align   : center;
    margin-bottom: 15px;
}

.ticketTop h3 {
    margin : 0;
    padding: 0;
}

.priceBox {
    text-align   : center;
    margin-bottom: 15px;
}

.old {
    text-decoration: line-through;
    color          : #ff00f2;
    font-size      : 18px;
}

.price {
    font-size  : 28px;
    font-weight: 700;
    color      : #00a8ff;
}

.features {
    list-style: none;
    padding   : 0;
    margin    : 15px 0;
}

.features li {
    display      : flex;
    align-items  : center;
    gap          : 6px;
    font-size    : 13px;
    margin-bottom: 6px;
    color        : #555;
}

.qtyBox {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    justify-content: center;
    margin-top     : 10px;
    gap            : 30px;
}

.qtyBox button {
    width        : 30px;
    height       : 30px;
    border       : 1px solid #ddd;
    background   : linear-gradient(35deg, #a7e2ff, #0082c3, #a7e2ff);
    border-radius: 60px;
    cursor       : pointer;
    color        : white;
    font-weight  : bolder;
    font-size    : larger;
}

.qtyBox span {
    font-weight: 600;
}





























.cartBox {
    background   : #00a8ff;
    color        : white;
    padding      : 30px;
    border-radius: 16px;
    max-width    : 700px;
    margin       : auto;
    text-align   : center;
}

.cartItems {
    display        : flex;
    flex-wrap      : wrap;
    gap            : 10px;
    justify-content: center;
    margin-top     : 10px;
}

.cartItems span {
    background   : rgba(255, 255, 255, 0.2);
    padding      : 6px 12px;
    border-radius: 20px;
    font-size    : 13px;
}

.amount {
    font-size  : 30px;
    font-weight: 700;
    margin-top : 5px;
}

.checkoutBtn {
    margin-top   : 20px;
    width        : 100%;
    padding      : 14px;
    border       : none;
    border-radius: 8px;
    background   : white;
    color        : #00a8ff;
    font-weight  : 700;
    font-size    : 16px;
    cursor       : pointer;
}





























/* CART BOX MAIN */
.cartBox {
    background     : linear-gradient(135deg, #00a8ff, #0077cc);
    color          : white;
    padding        : 25px;
    border-radius  : 16px;
    max-width      : 900px;
    margin         : auto;
    display        : flex;
    gap            : 20px;
    justify-content: space-between;
    flex-wrap      : wrap;
    align-items    : flex-start;
}

/* LEFT SIDE */
.cartLeft {
    flex : 2;
    width: 100%;
}

.cartLeft h3 {
    margin-bottom: 10px;
}

/* ITEM LIST */
.cartItems {
    display       : flex;
    flex-direction: column;
    gap           : 0px;
}

/* EACH ITEM */
.cartItemRow {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0px;
    border-bottom  : 1px dotted rgb(255, 255, 255);
}

/* NAME + PRICE */
.cartItemRow strong {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;
}


/* NAME + PRICE */
.cartItemRow p {
    font-size      : 12px;
    opacity        : 0.9;
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;
    color          : white;
}

/* QTY CONTROL */
.qtyControl {
    display    : flex;
    align-items: center;
    gap        : 8px;
}

.qtyControl button {
    width        : 28px;
    height       : 28px;
    border       : none;
    background   : white;
    color        : #00a8ff;
    border-radius: 50%;
    font-weight  : bold;
    cursor       : pointer;
    transition   : 0.2s;
}

.qtyControl button:hover {
    transform: scale(1.1);
}

/* ITEM TOTAL */
.itemTotal {
    font-weight: 600;
    min-width  : 60px;
    text-align : right;
}

/* DATE BOX */
.dateBox {
    margin-top    : 15px;
    display       : flex;
    flex-direction: column;
    gap           : 5px;
}

.dateBox input {
    padding      : 8px;
    border-radius: 6px;
    border       : none;
    outline      : none;
}

/* RIGHT SIDE */
.cartRight {
    flex         : 1;
    background   : white;
    color        : #333;
    border-radius: 12px;
    padding      : 20px;
    text-align   : center;
    min-width    : 220px;
}

.label {
    font-size: 14px;
    color    : #777;
}

.amount {
    font-size  : 26px;
    font-weight: 700;
    margin     : 10px 0;
    color      : #02b929;
}

/* BUTTON */
.checkoutBtn {
    width        : 100%;
    padding      : 12px;
    border       : none;
    border-radius: 8px;
    background   : linear-gradient(180deg, #00a8ff, #6dcefe);
    color        : white;
    font-weight  : 700;
    font-size    : 15px;
    cursor       : pointer;
    transition   : 0.2s;
}

.checkoutBtn:hover {
    background: linear-gradient(180deg, #00a8ff, #4bc3ff);
}

/* RESPONSIVE */
@media (max-width: 968px) {
    .cartBox {
        flex-direction: column;
    }

    .cartRight {
        width: 94%;
    }

    .ticketsGrid {
        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        gap                  : 25px;
        margin-bottom        : 50px;
    }
}






















/* ========================= */
/* 📱 MOBILE */
/* ========================= */
@media (max-width: 500px) {

    /* BUTTON */
    .checkoutBtn {
        margin: 0px;
    }

    /* NAME + PRICE */
    .cartItemRow strong {
        font-size      : 12px;
        display        : flex;
        justify-content: flex-start;
        align-items    : flex-start;
        color          : white;
        font-weight    : 700;
    }

    .cartBox {
        flex-direction : column;
        padding        : 10px;
        margin         : 0px;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    .cartItemRow {
        grid-template-columns: 1fr;
        gap                  : 10px;
    }

    .itemTotal {
        text-align: left;
    }

    .qtyControl {
        justify-content: space-between;
        width          : 30%;
    }

    .cartRight {
        width: 86%;
    }

    .amount {
        font-size: 20px;
    }
}





.ticketCard {
    background   : white;
    border-radius: 16px;
    padding      : 10px;
    border       : 1px solid #eee;
    position     : relative;
    transition   : .3s;

    display       : flex;
    flex-direction: column;
}

.features {
    list-style: none;
    padding   : 0;
    margin    : 15px 0;
    flex-grow : 1;
}

.qtyBox {
    margin-top     : auto;
    /* 🔥 magic line */
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 30px;
}