.waterparkSection {
    position  : relative;
    padding   : 100px 20px;
    color     : white;
    overflow  : hidden;
    min-height: 600px;
}

/* VIDEO BACKGROUND */

.waterparkVideo {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;

    z-index: 0;
    /* important */
}

/* OVERLAY COLOR */

.waterparkOverlay {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;

    background: linear-gradient(rgba(31, 175, 242, 0.6),
            rgba(0, 0, 0, 0.4));

    z-index: 1;
}

.waterparkGrid {
    position: relative;
    z-index : 2;
}

.waterparkGrid {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 60px;
    align-items          : center;
}

.waterparkBadge {
    display      : inline-flex;
    align-items  : center;
    gap          : 6px;
    background   : rgba(255, 255, 255, 0.15);
    padding      : 8px 16px;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size    : 14px;
    box-shadow   : 3px 3px 3px rgba(0, 0, 0, 0.345);
}

.waterparkTitle {
    font-size    : 42px;
    font-weight  : 700;
    margin-bottom: 20px;
    text-shadow  : 1px 1px 3px rgba(0, 0, 0, 0.345);
}

.waterparkTitle span {
    color: #facc15;
}

.waterparkDesc {
    color        : #e5e5e5;
    line-height  : 1.7;
    margin-bottom: 30px;
}

.waterparkAttractions {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 12px;
    margin-bottom        : 30px;
}

.attractionCardHome {
    display      : flex;
    align-items  : center;
    gap          : 8px;
    background   : white;
    padding      : 10px;
    border-radius: 8px;
    color        : #0c4f00;
    box-shadow   : 2px 2px 3px rgba(0, 0, 0, 0.345);
}

.waterparkPricing {
    background   : rgba(1, 132, 139, 0.527);
    padding      : 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    border       : 2px solid white;
    box-shadow   : 2px 2px 3px rgba(0, 0, 0, 0.345);
}

.pricingGrid {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 10px;
}

.pricingGrid div {
    display        : flex;
    justify-content: space-between;
    font-size      : 14px;
}

.pricingGrid b {
    color: #facc15;
}

.waterparkInfo {
    display      : flex;
    gap          : 20px;
    margin-bottom: 30px;
    font-size    : 14px;
}

.waterparkInfo div {
    display    : flex;
    align-items: center;
    gap        : 6px;
}

.waterparkBtn {
    display        : inline-flex;
    align-items    : center;
    gap            : 8px;
    background     : #facc15;
    color          : black;
    padding        : 14px 26px;
    border-radius  : 8px;
    font-weight    : 600;
    text-decoration: none;
    transition     : .3s;
    border         : 2px solid white;
    box-shadow     : 2px 2px 3px rgba(0, 0, 0, 0.345);
}

.waterparkBtn:hover {
    background: #eab308;
}

.waterparkImages {
    position             : relative;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 15px;
}

.waterparkImgLarge img {
    width        : 100%;
    height       : 100%;
    object-fit   : cover;
    border-radius: 12px;
    border       : 2px solid white;
    box-shadow   : 2px 2px 3px rgba(0, 0, 0, 0.345);
}

.waterparkImgSmall {
    display       : flex;
    flex-direction: column;
    gap           : 15px;
    padding-top   : 40px;
}

.waterparkImgSmall img {
    width        : 100%;
    height       : 100%;
    object-fit   : cover;
    border-radius: 12px;
    border       : 2px solid white;
    box-shadow   : 2px 2px 3px rgba(0, 0, 0, 0.345);
}

.waterparkDecor {
    position     : absolute;
    bottom       : -40px;
    left         : -40px;
    width        : 120px;
    height       : 120px;
    background   : rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    filter       : blur(30px);
}

@media(max-width:900px) {

    .waterparkGrid {
        grid-template-columns: 1fr;
    }

    .waterparkTitle {
        font-size: 34px;
    }

}


@media(max-width:500px) {

    .waterparkSection {
        padding: 20px;
    }

}